.App {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.App-cards-slider { 
  position: relative;
  max-width: 228px;
  margin: 0 auto;
}
.App-cards-slider-wrapper { 
  display: flex;
}

.App-cards-slider::after { 
  content: ''; 
  display: block; 
  width: 100%; 
  height: 264px;
  outline: 5px solid #61DAFE;
  position: absolute;
  top: 0; 
  left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
