.App {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.App-content-slider {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.App-content-slider:before, .App-content-slider:after {
  content: '';
  display: block;
  width: 50%;
  height: 120%;
  background: linear-gradient(to right, white 15%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}
.App-content-slider:after {
  left: auto;
  right: 0;
  background: linear-gradient(to left, white 15%, rgba(255, 255, 255, 0) 100%); 
}


.App-cards-slider { 
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}

.App-cards-slider::after { 
  content: ''; 
  display: block; 
  width: 100%; 
  height: 240px;
  outline: 5px solid #61DAFE;
  position: absolute;
  top: 5px; 
  left: 0;
}

.App-cards-slider-wrapper { 
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.Card-details { 
  font-size: 14px;
}

.Card-descipription { 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
