.App {
  margin: 10px auto 10px auto;
  max-width: 900px;
  min-height: 90vh;
  background: #EEEEEE;
  position: relative;
  padding-bottom: 2em;
}

.App-book {
  margin: 20px;
  overflow: auto;
  clear: both;
  background: #ffffff;
}

.App-list { 
  float: left;
  width: 40%;
}

.App-content {
  margin: 0;
  padding: 1em;
  background: #fff;
}

.App-details {
  float: left;
  width: 60%;
}

.App-contact-name {
  font-size: 2em;
  font-weight: bold;
  margin: 5px 20px;
}

.App-contact-info-line {
  margin: 5px;
}

.App-contact-info {
  overflow: auto;
  padding: 5px;
}

.App-contact-info span {
   display: block;
}


.App-link {
  color: #61dafb;
}

