.Contact {
  background: #EEE;
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.Contact-active { 
  background: #d59450;
}

.Contact:hover {
  background: #d59450;
}

.Contact-avatar {
  display: inline-block;
  width: 96px;
  height: 96px;
  font-size: 5em;
  line-height: 96px;
  vertical-align: middle;
  text-align: center;
  background: #838383;
  color: #ffffff;
}

.Contact-title { 
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}
